@font-face {
    font-family: 'lato light';
    src: url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato regular';
    src: url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato bold';
    src: url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: .16em;
}
h1, h2, h3, h4, h5, h6,
p,
a {
    margin: 0;
}

/*header*/
.header {
    min-width: 100%;
    padding: 280px 0 110px;
    background-image: url(../img/hero-bg.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-transform: uppercase;
}

.container {
    width: 620px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: block;
    width: 67px;
    height: 70px;
    margin: 0 auto 90px;
}

.logo:hover .cls-1, 
.logo:hover .cls-2,
.logo:hover .cls-3 {
    fill-rule: evenodd;
    stroke: #00ff00;
}

.logo:hover .cls-2 {
    stroke: #00ff00;
}

.logo:hover .cls-3,
.logo:hover .cls-4 {
    fill: #00ff00;
}

.header__title {
    margin-bottom: 40px;
    font-family: 'lato bold', Arial, Sans-Serif;
    font-size: 54px;
}

.header__text {
    margin-bottom: 230px;
    font-size: 15px;
    letter-spacing: .06em;
    line-height: 1.5;
}

.scroll {
    display: block;
    width: 23px;
    height: 37px;
    margin: 0 auto;
}

.scroll:hover .scroll-svg {
    fill-rule: evenodd;
    stroke: #00ff00;
}

/*main*/

.main {
    width: 100%;
    color: #3c3c3c;
    text-align: center;
    font-family: 'lato light', Arial, Sans-Serif;
    font-size: 16px;
    line-height: 1.6;
}

.section {
    width: 100%;
}

.section__block {
    box-sizing: border-box;
    position: relative;
    width: 900px;
    margin: 160px auto;
    padding: 70px 170px 25px;
    border: solid 2px #3c3c3c;
    border-top: none;
}

.section__title {
    display: inline-block;
    width: 420px;
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -210px;
    font-family: 'lato bold', Arial, Sans-Serif;
    font-size: 34px;
}

.section__title::before,
.section__title::after {
    content: '';
    display: inline-block;
    width: 240px;
    height: 2px;
    background-color: #3c3c3c;
    position: absolute;
    top: 50%;
    margin-top: -1px; 
}

.section__title::before {
    left: -240px;
}

.section__title::after {
   right: -240px;
}

.section__block p {
    margin-bottom: 25px;
}

.section__block :last-child {
    margin-bottom: 0;
}